.tableau {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
  }
  
  .ligne {
    display: flex;
    justify-content: space-between;
  }
  
  .colonne {
    flex: 1;
    text-align: center;
  }
  
  .colonne a {
    display: block;
    padding: 10px;
    background-color: transparent;
    border: 1px solid #ccc;
    border-radius: 5px;
    text-decoration: none;
    color: #333;
  }
  
  .colonne a:hover {
    background-color: #ccc;
    color: #fff;
  }


.links li1 {
  display: inline-block;
  width: 30%; /* ajustez la largeur pour obtenir 3 colonnes */
  float: left; /* fait flotter les éléments à gauche */
  margin: 10px; /* ajoute une marge pour séparer les éléments */
  font-weight: lighter;
  color: #000000;
}

.links li1:nth-child(3n+1) {
  clear: left; /* force le retour à la ligne pour les éléments multiples de 3 */
}
