.tableau {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
  }
  
  .ligne {
    display: flex;
    justify-content: space-between;
  }
  
  .colonne {
    flex: 1;
    text-align: center;
  }
  
  .colonne a {
    display: block;
    padding: 10px;
    background-color: transparent;
    border: 1px solid #ccc;
    border-radius: 5px;
    text-decoration: none;
    color: #333;
  }
  
  .colonne a:hover {
    background-color: #ccc;
    color: #fff;
  }
