
    body {
      font-family: Arial, sans-serif;
         color: #ffffff
      margin: 0;
      padding: 0;
      background-image: url('https://ddschutz.github.io/HOME/lomo120-lubitel-003.jpg'); /* Remplacez par votre image de fond */
      background-size: cover;
      background-position: top-center;
      height: 100vh
    }
   .container {
      max-width: 800px;
      margin: 40px auto;
      text-align: center;
    }
   .links {
      list-style: none;
      padding: 0;
      margin: 0;
    }
   .links li {
      display: inline-block;
      margin-right: 20px;
      font-weight: bold;
      color: #ffffff;
    }
   .links a {
      text-decoration: none;
     font-weight: bold;
      color: #ffffff;
      transition: color 0.2s ease;
    }
   .links a:hover {
      color: #ff2d00;
      font-weight: bold;
    }
   .search {
      width: 50%;
      padding: 10px;
      font-size: 18px;
     margin: 0 auto; /* ceci centre la barre de recherche horizontalement */
      border: none;
      border-radius: 5px;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }
h1 {
  font-family: Comic, sans-serif;
  font-size: 40px;
  color: #ffffff!important;
    backgroundcolor: #ff2d00;
  font-weight: bold;
  text-align: center;
}
    h4 { font-family: Arial, sans-serif;
  font-size: 18px;
          font-weight: bold;
  text-align: center;
          color: #ffffff;
    }

       .links li1 {
      display: inline-block;
      bottom: 10px;
    left: 20px;
      font-weight: lighter;
      color: #000000;
    }
  </style>

